#dev {
   -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;


}

.pos{
	position:relative;
	top:-143px;
font-weight: 100 !important;

}


#dev1,#dev2 {
-moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
-webkit-animation-duration: 3s;
-moz-animation-duration: 3s;
font-weight: 100 !important;
}

body {
    font-weight: 100 !important;
text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

#name {
font-weight: 100 !important;
font-size: 50px;
}