#dev {
   -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;


}

.pos{
	position:relative;
	top:-143px;
}


#dev1,#dev2 {
-moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
-webkit-animation-duration: 3s;
-moz-animation-duration: 3s;
}

body {


    font-size: 16px;
    line-height: 1.25;
    font-weight: 100;
text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}